.loginsignup{
    width: 100%;
    height: 100vh;
    background: wheat;
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 550px;
    background: antiquewhite;
    margin: auto;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid whitesmoke;
    outline: none;
    color: gray;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: rgb(240, 248, 248);
    background: rgb(208, 65, 79);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
    margin: 20px;
    color: grey;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: brown;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

