.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(128, 128, 128, 0.27);
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}