.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.footer-logo p{
    color: rgb(9, 30, 137);
    font-size: 46px;
    font-weight: 700;
}
.footer-logo img{
    height: 200px;
    width: 200px;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(24, 117, 3);
    font-size: 20px;
    
}
.footer-links li{
    cursor: pointer;
    align-items: center;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: rgb(190, 174, 180);
    border: 1px solid wheat;
}
.footer-icons-container img{
    height: 20px;
    width: 20px;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: brown;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: whitesmoke;
}