.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px  3px -2px rgba(0, 0, 0, 0.208);
    margin-bottom: 1px;
    background: white;
}
.navbar .logo{
    font-size: 24px;
    font-weight: 600;
    color: #305229;

}
.navbar img{
    width: 70px;
    height: 120px;
    border-radius: 10%;
}