.hero{
    height: 100vh;
    background: linear-gradient(180deg, aliceblue, rgb(133, 181, 209) 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: blueviolet;
    font-size: 20px;
    font-weight: 600;
}

.hero-left p{
    color: rgba(74, 10, 100, 0.338);
    font-size: 100px;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: rebeccapurple;
    color: aqua;
    font-size: 22px;
    font-weight: 500;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}