.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg ,whitesmoke 0%, rgb(112, 152, 180) 60%);
    gap: 30px;
}
.newsletter h1{
    color: rgb(121, 71, 5);
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
    color: rgb(120, 73, 11);
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid rebeccapurple;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: rgb(193, 152, 102);
    font-family: Poppins;
    font-size: 16px;
}
.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: azure;
    font-size: 16px;
    cursor: pointer;
}