.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: rgba(116, 54, 54, 0.247);
    font-size: 50px;
    font-weight: 600;
    
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: goldenrod;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
